.header {
	margin-left: 5px;
	font-weight: 300;
	font-family: Roboto;
	color: white;
}

.panel {
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: #ee6e73;
	min-height: 300px;
}

.light-blue {
	background-color: #00BFFF;
}

.top-panel {
	border-radius: 5px;
	background-color: #ee6e73;
	height: 70px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
