.header {
	margin-left: 5px;
	font-weight: 300;
	font-family: Roboto;
	color: white;
}

.panel {
	border-radius: 5px;
	background-color: #00BFFF;
	min-height: 300px;
}

.top-panel {
	border-radius: 5px;
	background-color: #00BFFF;
	height: 70px;
}