<div class="container">	
	<h4> Home </h4>
	
	<div class="row">
		<div class="col s12">
			<div class="top-panel z-depth-1">
				<p> Lorem Ipsum </p>
				<!-- lorem ipsum here -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s4">
			<div class="panel z-depth-2">
				<!-- lorem ipsum here -->
			</div>
		</div>
		<div class="col s4">
			<div class="panel z-depth-2">
				<!-- lorem ipsum here -->
			</div>
		</div>
		<div class="col s4">
			<div class="panel z-depth-2">
				<!-- lorem ipsum here -->
			</div>
		</div>
	</div>
</div>