<div class="row">
  <form ng-submit="login()" name="loginForm" class="col s4">
  	<div class="login-panel z-depth-1">
	    <div class="row">
	      <div class="input-field col s12 center-align">
	        <input id="username" type="text" ng-model="username" class="validate">
	        <label for="username">Username</label>
	      </div>
	    </div>
	    
	    <div class="row">
	      <div class="input-field col s12 center-align">
	        <input id="password" type="password" ng-model="password" class="validate">
	        <label for="password">Password</label>
	      </div>
	    </div>
        
        <input type="submit" style="display: none;">
    </div>
  </form>
</div>